@media (min-width: 576px) {
    .custom-modal-dialog {
      max-width: 1000px!important; 
      margin: 1.75rem auto;
    }
  }

.comment-input{
    border: 1px solid #C0D0FF;
    height: 63px;
    width: 850px;
    border-radius: 10px;
    border-width: 1px
}  


 

