.filter{
    margin-right: 3rem;
    list-style: none;
    margin-bottom: 1rem;
    float: right;
    display: flex;
}
.filter-button{
    width: 85px;
}
.btn-secondary{
background-color: #004064!important;
color:#fff!important ;
}
.btn-secondary:hover {
    color: #fff!important;
    background-color: #004064;
    border-color: white;
}