.main-card {
  height: 100%;
  width: 100%;
  margin-bottom: 2%;
}
.d-flex {
  align-items: center;
}
.main-card {
  height: 100vh;
}
.card {
  width: 100% !important;
  height: auto;
  margin-right: 2% !important;
  margin-left: 2% !important;
}

.bg-blue {
  background-color: #0093e5;
}
.bg-pink {
  background-color: #ff3743;
}
.bg-green {
  background-color: #00cc14;
}
