body{
    overflow-x: hidden;
    width: 100%;
}

.logo{
    /* position: absolute; */
    margin-top: 3.6%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
/* identical to box height */
}

@media screen and (max-width: 670px) {

    .logo{
        left: 45.37%;
    right: 45.37%;
        text-align: center;
        font-weight: 800;
        font-size: 42px;
    }
}
@media screen and (max-width: 600px) {

    .half{
        display: none;
        padding: 13px;
    }
}
@media screen and (max-width: 600px) {

    .label{
        padding: 13px;
    }
}
.h3{
    text-align: center;
    margin-top: 8.24%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #171C1F;
}
.p{
    text-align: center;
    /* margin-top: 1%; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #8D8D8D;
}
.box1{
    margin-left: -1px;
    top: 398px;
    width: 390px;
    height: 58px;
    margin-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 6px 19px rgba(159, 159, 159, 0.2);
    border-radius: 0px 10px 10px 0px;
    border: 2px solid #bdbdbd;
    border-left-style: none;
    transform: rotate(-0.5deg);
}
input:focus-visible{
    outline:none;
}
.box2{
    margin-left: -1px;
    width: 390px;
    height: 58px;
    background: #FFFFFF;
    box-shadow: 0px 6px 19px rgba(159, 159, 159, 0.2);
    border-radius: 0px 10px 10px 0px;
    border: 2px solid #bdbdbd;
    border-left-style: none;
    transform: rotate(-0.5deg);
}
.main-div{
    DISPLAY: block;
    text-align: center;
}
.name-label {
    position: relative;
    width: 33%;
  }
  
  label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
  }
  
  label > input {
    background: #FFFFFF;
    box-shadow: 0px 6px 19px rgba(159, 159, 159, 0.2);
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    padding-left: calc(1em + 20px + 8px); /* icon width + icon padding-left + desired separation*/
    height: 4em;
  }
  
 label>button {
    width: 33%;
    height: 4em;
    background: #004064;
    border-radius: 10px;
    color: white;
 }

 @media screen and (max-width: 992px) {
    .name-label{
        width: 50%;
    }
    label>button{
        width: 50%;  
    }

 }
 @media screen and (max-width: 576px) {
    .name-label{
        width: 80%;
    }
    label>button{
        width: 80%;  
    }
 }
 

  .spritesheet {
    display: none;
  }
  
  .icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .login-button{
    text-align: center;
    display: block;
    margin-top: 10px;
  }
.forget_pass{
    margin-left: 52.1%;
    /* right: 36.57%; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8D8D;
}

.login{
    width: 440px;
    height: 58px;
    /* margin-left: 462px; */
    background: #004064;
    border-radius: 10px;
    color: white;
}
.eye_off{
    position: absolute;
    left: 60.91%;
    right: 37.5%;
    top: 56.42%;
    bottom: 41.14%;
}
.half{
    position: absolute;
    width: 450px;
    height: 500px;
    left: 1050px;
    top: 70px;
}
.d_flex{
    display: flex;
    gap: 100px;
}
a{
    margin-bottom: 2%;
}